
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body>
    <div> 
        Get API test
        Set API test
        Delete API test

    </div>
</body>
</html>
