
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Charles Schwab - Demo UI</title>
    <!-- jQuery JavaScript -->
    <script src="~/Scripts/kendo/2016.3.1118/jquery.min.js"></script>

    <!-- Common Kendo UI CSS for web widgets and widgets for data visualization. -->
    <link href="~/Content/kendo/2016.3.1118/kendo.common.min.css" rel="stylesheet" />

    <!-- Default Kendo UI theme CSS for web widgets and widgets for data visualization. -->
    <link href="~/Content/kendo/2016.3.1118/kendo.default.min.css" rel="stylesheet" />

    <script src="~/Scripts/kendo/2016.3.1118/kendo.all.min.js"></script>

</head>
<body>
    <div id="grid"> 
        
    </div>

    <script>
        $(document).ready(function () {
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "api/demo?json=true",
                        dataType: "json",
                        cache: false
                    }
                },
                batch: true,
                schema: {
                    model: {
                        id: "ID",
                        fields: {
                            FundName: {},
                            FundInceptionDate: {},
                            FundExpenseRatio: {}
                        }
                    }
                }
            });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                height: 550,
                groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "FundName",
                    title: "Fund Name"
                }, {
                    field: "FundInceptionDate",
                    title: "Fund Inception Date",
                    format: "{0:yyyy-MM-dd}",
                    template: "#= kendo.toString(kendo.parseDate(data.FundInceptionDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #"
                }, {
                    field: "FundExpenseRatio",
                    title: "Expense Ratio"
                }, { command: ["edit", "destroy"], title: "&nbsp;", width: "200px" }],
                editable: "inline"
            });
        });

        //var grid = $('#grid').data("kendoGrid");
        //grid.dataSource.read();
    </script>
</body>

</html>
